/* css pour les tableaux	 */

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

td:hover {
	border: groove 1px;
	border-color: blue;
	background-color: #00a600;
}

tr:hover {
	background-color: #00e100
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
