/* css pour les formulaires */

textarea {
    width: 20%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-color: green;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

select {
    width: 20%;
    padding: 16px 20px;
    border: solid 1px;
    border-color: green;
    border-radius: 4px;
    background-color: #ffffff;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* css pour les tableaux	 */

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #f5f5f5}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px;
    color: green;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
