/* css pour les formulaires */

#global {
  margin-left: auto;
  margin-right: auto;
  width: 40%; /* largeur obligatoire pour être centré */
}

#globalfieldset {
padding-left: 30%;
width: 50%;
text-align: left;
}

fieldset {
	border : solid 5px;
	border-color: green;
	border-radius: 10px;
}


textarea {
    width: 266px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-color: green;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}



select {
    width: 266px;
    padding: 16px 20px;
    border: solid 1px;
    border-color: green;	
    border-radius: 4px;
    background-color: #ffffff;
}

select:hover { 
	width: 266px;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: #ffffff;
	border: solid 1px;
    border-color: #006400;
}

input[type=datetime-local] {
	background-color: #f1f1f1;
}

input[type=datetime], [type=datetime-local] {
	width: 200px;
    background-color: #ffffff;
    border: solid 1px;
    color: black;
    border-color: green;
    border-radius: 4px;
    padding: 16px 32px;
    text-decoration: none;
    text_align: center;
    cursor: pointer;
}


input[type=button], input[type=submit], input[type=reset]{
	width: 127px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
